@import "../../styles/variables";
@import "../../styles/common";

.createWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.submissionWrapper {
  max-width: 640px;
  width: 100%;
  min-height: 628px;
  background: $colorWhite;
  box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);
  border-radius: 2px;
  padding: $gapS;
  display: flex;
  flex-direction: column;
}

.submissionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submissionFooter {
  width: 100%;
  margin-top: auto;
}

.submissionButton {
  @extend .buttonPrimary;

  width: 100%;
}

.submissionContent {}

.submissionSteps {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.submissionStepItem {
  width: calc(33.33% - 8px);
  position: relative;
  padding-top: 10px;
  font-size: $size13;
  text-transform: uppercase;
  font-family: $secondaryFont;
  font-weight: 400;
  color: rgba(0,0,0,.6);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.15);
  }

  &.active {
    font-weight: 500;
    color: $colorBlack;

    &:before {
      background: $colorBlue;
    }
  }
}