@import '../../styles/variables';
@import '../../styles/common';

.createWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @media only screen and (max-width: $mobile) {
    align-items: start;
    padding-top: 72px;

    &.withVoitingBanner {
      padding-top: 100px;

      .submissionWrapper {
        min-height: calc(100vh - 100px);
      }
    }
  }
}

.submissionWrapper {
  max-width: 640px;
  width: 100%;
  min-height: 500px;
  background: $colorWhite;
  box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);
  border-radius: 2px;
  padding: $gapS;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $mobile) {
    min-height: calc(100vh - 72px);
    justify-content: center;
  }
}

.submissionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $gapXxs;
}

.submissionFooter {
  width: 100%;
  margin-top: auto;
}

.submissionButton {
  @extend .buttonPrimary;

  width: 100%;

  &.start {
    &:after {
      content: url('../../public/svg/arrow-white.svg');
      position: relative;
      top: 2px;
      right: -4px;
    }
  }
}

.submissionContent {
  padding: $gapS 0;
}

.submissionSteps {
  display: flex;
  justify-content: space-between;
  margin: $gapS 0;
}

.submissionStepItem {
  width: calc(33.33% - 8px);
  position: relative;
  padding-top: 10px;
  font-size: $size13;
  text-transform: uppercase;
  font-family: $secondaryFont;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.15);
  }

  &.active {
    font-weight: 500;
    color: $colorBlack;

    &:before {
      background: $colorBlue;
    }
  }
}
