@import '../../styles/variables';
@import '../../styles/common';

.selectWrapper {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  @media only screen and (max-width: $tablet) {
    position: relative;
    right: 0;
  }

  &.forcedMobile {
    @media only screen and (max-width: $tablet) {
      display: flex;
      right: auto;
      left: 0;
    }
  }
}