@import "../../styles/variables";
@import "../../styles/common";

.cancelButton {
  @extend .buttonWhite;
  padding: 0 $gapS 0 $gapMxs;

  &:before {
    padding-right: 4px;
    position: relative;
    top: 2px;
    content: url("../../public/svg/cros.svg");
  }
}