@import "../../styles/variables";
@import "../../styles/common";

.authButtons {
  position: fixed;
  z-index: 1500;
  top: 20px;
  right: $gapS;
}

.logInButton {
  @extend .buttonTransparent;

  margin-right: 16px;
}

@media only screen and (max-width: $mobile) {
  
  .logInButton {
    display: none;
  }
}