@import "../../styles/variables";
@import "../../styles/common";

.authButtons {
  position: fixed;
  z-index: 1500;
  top: 20px;
  right: $gapS;
}

.logInButton {
  @extend .buttonTransparent;

  margin-right: 16px;
}

@media only screen and (max-width: $mobile) {
  
  .logInButton {
    display: none;
  }
}

.userProfileButton {
  @extend .buttonTransparent;
  font-family: $secondaryFont;
  font-size: $size14;
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  &:before {
    content: url("../../public/svg/user.svg");
    position: relative;
    top: 2px;
    margin-right: 4px;
  }
}