@import '../../styles/variables';
@import '../../styles/common';

.menuWrapper {
  width: 260px;
  height: 100vh;
  position: sticky;
  z-index: 1001;
  top: 0;
  left: 0;
  background: $colorWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: $gapM $gapXL;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0px 2px 2px 0px;
  line-height: 1;
  transition: opacity 400ms;

  @media only screen and (max-width: $laptop) {
    left: -100%;
    position: fixed;
    opacity: 0;

    &.enterActive {
      left: 0;
    }

    &.enterDone {
      left: 0;
      opacity: 1;
    }

    &.exitActive {
      left: 0;
      opacity: 0;
    }

    &.exitDone {
      left: -100%;
    }
  }
}

.logo {
  position: relative;
  left: -16px;

  img {
    max-width: 100%;
  }

  @media only screen and (max-width: $laptop) {
    left: 0;
    width: 133px;
    height: 28px;
  }
}

.menuItem {
  margin-bottom: 24px;
  display: block;
  font-size: $size18;
  color: $colorBlack;
  padding: $gapXxs 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.menuFooterLink {
  display: block;
  padding: 4px 0;
  margin-bottom: 4px;
  font-size: $size13;
  text-decoration: underline;
  color: $colorBlack;

  &:hover {
    text-decoration: none;
  }
}

.closeButton {
  width: 50px;
  height: 40px;
  margin-right: 8px;
  position: relative;
  top: -1px;
  background: url('../../public/svg/close.svg');
  cursor: pointer;

  @media only screen and (min-width: $laptop) {
    display: none;
  }
}

.logoWrapper {
  @media only screen and (max-width: $laptop) {
    display: flex;
    align-items: center;
    position: relative;
    left: -16px;
    top: -3px;
  }
}

.authButton {
  @media only screen and (min-width: $laptop) {
    display: none;
  }
}

.forcedMobile {
  &.menuWrapper {
    left: -100%;
    position: fixed;
    opacity: 0;

    &.enterActive {
      left: 0;
    }

    &.enterDone {
      left: 0;
      opacity: 1;
    }

    &.exitActive {
      left: 0;
      opacity: 0;
    }

    &.exitDone {
      left: -100%;
    }
  }

  .logo {
    left: 0;
    width: 133px;
    height: 28px;
  }

  .closeButton {
    display: inline-block;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    position: relative;
    left: -16px;
    top: -3px;
  }
}
