@import "../../styles/variables";
@import "../../styles/common";

.articleLink {
  font-size: $size13;
  line-height: 1;
  margin-bottom: $gapXxs;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  color: $colorBlack;
  padding-right: $gapS;
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    right: 0;
    top: 1px;
    content: url("../../public/svg/link.svg");
  }

  &:hover {
    text-decoration: underline;
  }
}
