@import "../../styles/variables";
@import "../../styles/common";

.backButton {
  @extend .buttonWhite;

  &:before {
    padding-right: 4px;
    position: relative;
    top: 2px;
    content: url("../../public/svg/arrow-left.svg");
  }
}