@import "../../styles/variables";
@import "../../styles/common";

.layoutWrapper {
  @extend .container;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  @media only screen and (max-width: $mobile) {
    padding: 72px 0 0;

    &.withVoitingBanner {
      padding-top: 100px;

      .layoutContentWrapper {
        min-height: calc(100vh - 100px);
      }
    }
  }
}

.layoutContentWrapper {
  width: 100%;
  max-width: 400px;
  background: $colorWhite;
  box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);
  border-radius: 2px;
  padding: $gapS;

  @media only screen and (max-width: $mobile) {
    padding: $gapS 0;
    min-height: calc(100vh - 72px);
    max-width: 100%;
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $mobile) {
    padding: 0 $gapS;
  }
}