@import "../../styles/variables";
@import "../../styles/common";

.articlesList {
  columns: 2;
  column-gap: $gapS;

  @media only screen and (min-width: $desktop) {
    columns: 3;
    display: inline-flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: $mobile) {
    columns: 1;
  }

  &.previewPage {
    @media only screen and (max-width: $laptop) {
      columns: 1;
    }
  }
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: $gapS;
}

.loadMoreButton {
  @extend .buttonPrimary;

  &:before {
    margin-right: 10px;
    position: relative;
    top: 2px;
    content: url("../../public/svg/plus-white.svg");
  }
}

.reshuffleButton {
  @extend .buttonPrimary;

  &:before {
    margin-right: 10px;
    position: relative;
    top: 2px;
    content: url("../../public/svg/sort-apply.svg");
  }
}

.spinnerWrapper {
  padding-top: $gapS;
}
