@import '../../styles/variables';
@import '../../styles/common';

.filtersSidebar {
  padding: 40px 20px $gapXL 30px;
  font-size: $size14;
  font-family: $secondaryFont;
  font-weight: 400;
  width: 290px;
  top: 50px;
  min-height: 95vh;
  position: sticky;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.filtersSection {
  margin-top: $gapL;
}

.filtersTitle {
  font-weight: 400;
  margin-bottom: $gapXxs;
}

.filtersTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterButton {
  @extend .buttonWhite;
  box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);
  padding: 0 $gapXs;
  margin-bottom: $gapXxs;
  white-space: nowrap;

  &:hover {
    background: rgba(0, 108, 123, 0.05);
  }

  &:after {
    margin-left: 4px;
    position: relative;
    top: 2px;
    content: url('../../public/svg/plus-black.svg');
  }

  &.active {
    background: rgba(65, 85, 245, 0.1);
    color: #3748d0;

    &:after {
      content: url('../../public/svg/cros.svg');
    }
  }
}

.filterStageButton {
  @extend .buttonWhite;

  padding: 0 $gapXs;
  margin-bottom: $gapXxs;
  white-space: nowrap;

  &:hover {
    background: rgba(0, 108, 123, 0.05);
  }

  &:before {
    position: relative;
    margin-right: 4px;
    top: 2px;
    content: url('../../public/svg/filterStageInactive.svg');
  }

  &.active {
    background: rgba(65, 85, 245, 0.1);
    color: #3748d0;

    &:before {
      content: url('../../public/svg/filterStageActive.svg');
    }
  }

  &.disabled {
    &:before {
      content: url('../../public/svg/filterStageDisabled.svg');
    }

    &:hover {
      background: $colorWhite;
    }
  }
}

.filterButtonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterButtonNote {
  font-size: $size12;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: $gapXxs;
  padding-left: 4px;
}

.textWrapper {
  margin-top: auto;
  position: relative;
  padding-top: 40px;

  &:before {
    width: 45px;
    height: 1px;
    top: 40px;
    background: $colorBlack;
    display: block;
    content: '';
  }
}

.text {
  font-family: $mainFont;
  font-size: 1rem;
  line-height: 1.2;
  padding: $gapS 0 $gapXL;
  font-weight: 500;
}

.applyButton {
  @extend .buttonPrimary;

  width: 100%;
  margin-top: 8px;
}
