@import "../../styles/variables";
@import "../../styles/common";

.mobileFiltersWrapper {
  padding: $gapXxs 0;

  @media only screen and (min-width: $tablet) {
    display: none;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gapXxs 0;
  border-bottom: 1px solid $colorBlack;
  margin-bottom: $gapXxs;
}

.counter {
  display: inline-flex;
  font-size: $size14;
}

.selectedFiltersList {
  display: flex;
  flex-wrap: wrap;
}

.selectedFilterItem {
  @extend .buttonWhite;

  padding: 0 $gapXs;
  margin-bottom: $gapXxs;
  white-space: nowrap;
  background: rgba(0, 108, 123, 0.4);
  margin-right: $gapXxs;

  &:after {
    content: url("../../public/svg/cros.svg");
    margin-left: 4px;
    position: relative;
    top: 2px;
  }

  &:hover {
    background: rgba(0, 108, 123, 0.4);
  }
}

.filtersViewport {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: $colorWhite;
  padding: $gapS;
  display: flex;
  flex-direction: column;
}

.filtersTitle {
  font-weight: 600;
  text-align: center;
  font-size: $size18;
}

.filtersHeader {
  position: relative;
  display: flex;
  justify-content: center;
}

.cancelButton {
  position: absolute;
  right: 0;
  top: 0;
  font-size: $size18;
  font-weight: 500;
  margin-left: auto;
  cursor: pointer;

  &:before {
    position: relative;
    left: -4px;
    top: 1px;
    content: url("../../public/svg/cros.svg");
  }
}

.filtersListWrapper {
  margin-top: 30px;
  font-weight: 400;
}

.filtersSubtitle {
  margin-bottom: 8px;
  width: 100%;
}

.filtersList {
  display: flex;
  flex-wrap: wrap;
}

.filterItem {
  padding: 0 $gapXs;
  background: $colorWhite;
  border: 1px solid $colorBlack;
  height: 32px;
  border-radius: 2px;
  font-size: 1rem;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;

  &:after {
    margin-left: 4px;
    position: relative;
    top: 2px;
    content: url("../../public/svg/plus-black.svg");
  }

  &.active {
    background: rgba(0, 108, 123, 0.4);

    &:after {
      content: url("../../public/svg/cros.svg");
    }
  }
}

.applyButton {
  @extend .buttonPrimary;

  margin-top: auto;
  width: 100%;
}