@import '../../styles/variables';
@import '../../styles/common';

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.loadingText {
  margin-top: 5px;
  font-family: $secondaryFont;
  text-align: center;
  font-size: $size14;
  font-weight: 400;
  width: 100%;
}

.spinner {
  width: 30px;
  height: 30px;
  background: url('../../public/spinner.png');
  background-size: cover;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.linkPreview {
  width: 100%;
  min-height: 170px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background: $colorWhite;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  @media only screen and (max-width: $mobile) {
    min-height: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.linkPreviewContent {
  padding: $gapXs $gapXL $gapXs $gapXxs;
  width: 67%;

  @media only screen and (max-width: $mobile) {
    width: 100%;
  }
}

.linkPreviewCover {
  width: 33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: $mobile) {
    height: 190px;
    width: 100%;
  }
}

.linkTitle {
  font-size: $size18;
  line-height: 1.2;
  font-weight: 500;
  margin: 4px 0;
}
