@import "../../styles/variables";
@import "../../styles/common";

.unloggedWrapper {
  margin-top: 100px;
  text-align: center;
}

.buttonsWrapper {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.signInButton {
  @extend .buttonWhite;

  margin-right: 10px;
}