@import "../../styles/variables";
@import "../../styles/common";

.filterStageButton {
  @extend .buttonWhite;

  padding: 0 $gapXs;
  margin-bottom: $gapXxs;
  white-space: nowrap;

  &:hover {
    background: rgba(0, 108, 123, 0.05);
  }

  &:before {
    position: relative;
    margin-right: 4px;
    top: 2px;
    content: url("../../public/svg/filterStageInactive.svg");
  }

  &.active {
    background: rgba(65, 85, 245, 0.1);
    color: #3748d0;

    &:before {
      content: url("../../public/svg/filterStageActive.svg");
    }
  }

  &.disabled {
    &:before {
      content: url("../../public/svg/filterStageDisabled.svg");
    }

    &:hover {
      background: $colorWhite;
    }
  }  
}

.filterStageButtonMobile {
  padding: 0 $gapXs;
  background: $colorWhite;
  border: 1px solid $colorBlack;
  font-family: $secondaryFont;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  font-size: 1rem;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;

  &:before {
    margin-right: 4px;
    position: relative;
    top: 2px;
    content: url("../../public/svg/filterStageInactive.svg");
  }

  &.active {
    background: rgba(65, 85, 245, 0.1);
    color: #3748d0;

    &:before {
      content: url("../../public/svg/filterStageActive.svg");
    }
  }

  &.disabled {
    &:before {
      content: url("../../public/svg/filterStageDisabled.svg");
    }
  }
}