@import "../../styles/variables";
@import "../../styles/common";

.modalViewport {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.modalWrapper {
  background: $colorWhite;
  width: 100%;
  max-width: 450px;
  box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);
  border-radius: 2px;
  padding: $gapS;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gapXxs 0;
}

.modalTitle {
  font-size: $size18;
  font-weight: 600;
  max-width: calc(100% - 100px);
}

.cancelButton {
  @extend .buttonWhite;

  &:before {
    content: url("../../public/svg/cros.svg");
    top: 2px;
    right: 2px;
    position: relative;
  }
}