@import "./variables.scss";

// CONTAINERS
.mainWrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  width: calc(100% - 260px);
}

// BUTTONS
.buttonPrimary {
  font-family: $secondaryFont;
  background: $colorBlue;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 2px;
  color: $colorWhite;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background: #3461d4;
  }
}

.buttonTransparent {
  @extend .buttonPrimary;
  
  background: transparent;
  color: $colorBlack;
  text-decoration: underline;

  &:hover {
    background: transparent;
  }
}


// RESPONSIVENES
@media only screen and (max-width: $desktop) {

}

@media only screen and (max-width: $laptop) {

}

@media only screen and (max-width: $tablet) {

}

@media only screen and (max-width: $mobile) {

}