@import './variables.scss';

// CONTAINERS
.mainWrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  width: calc(100% - 260px);
  padding-left: 40px;

  @media only screen and (max-width: $laptop) {
    width: 100%;
  }

  @media only screen and (max-width: $tablet) {
    padding: 0 $gapS;
  }
}

// BUTTONS
.buttonPrimary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $secondaryFont;
  background: $colorBlue;
  font-weight: 500;
  padding: 0 $gapS;
  height: 32px;
  border-radius: 2px;
  color: $colorWhite;
  transition: 0.2s;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background: #3461d4;
  }

  &.sizeXl {
    font-size: $size18;
    height: 40px;
  }
}

.buttonTransparent {
  @extend .buttonPrimary;

  background: transparent;
  color: $colorBlack;
  text-decoration: underline;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.buttonWhite {
  @extend .buttonPrimary;

  background: $colorWhite;
  color: $colorBlack;
  font-weight: 400;

  &:hover {
    background: #f2f2f2;
  }
}

.disable {
  cursor: not-allowed;
  opacity: 0.5;
}

// AUTH
.authForm {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $mobile) {
    min-height: calc(100vh - 140px);
  }
}

.authHeader {
  padding: $gapS;
}

.authTitle {
  font-size: $gapXL;
  font-weight: 500;
}

.authNavWrapper {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.authFields {
  padding: 0 $gapS;
}

.authButtonLink {
  @extend .buttonWhite;

  margin-left: 8px;
  border: 1px solid $colorBlack;
}

.submitButton {
  @extend .buttonPrimary;

  width: 100%;
}

.authFooter {
  margin-top: 40px;

  @media only screen and (max-width: $mobile) {
    padding: 0 $gapS;
    margin-top: auto;
  }
}

.authLink {
  color: #264f80;
  text-decoration: underline;
  font-size: $size14;

  &:hover {
    text-decoration: none;
  }
}
