@import "./variables.scss";

// CONTAINERS
.mainWrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  width: calc(100% - 260px);
  padding-left: 40px;
}

// BUTTONS
.buttonPrimary {
  display: inline-flex;
  align-items: center;
  font-family: $secondaryFont;
  background: $colorBlue;
  font-weight: 500;
  padding: 0 16px;
  height: 32px;
  border-radius: 2px;
  color: $colorWhite;
  transition: 0.2s;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background: #3461d4;
  }

  &.sizeXl {
    font-size: $size18;
    height: 40px;
  }
}

.buttonTransparent {
  @extend .buttonPrimary;
  
  background: $colorWhiteBlue;
  color: $colorBlack;
  text-decoration: underline;

  &:hover {
    background: $colorWhiteBlue;
  }
}

.buttonWhite {
  @extend .buttonPrimary;
  
  background: $colorWhite;
  color: $colorBlack;
  font-weight: 400;
}


// RESPONSIVENES
@media only screen and (max-width: $desktop) {

}

@media only screen and (max-width: $laptop) {

}

@media only screen and (max-width: $tablet) {

}

@media only screen and (max-width: $mobile) {

}