@import "./variables.scss";

// CONTAINERS
.mainWrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  width: calc(100% - 260px);
  padding-left: 40px;

  @media only screen and (max-width: $laptop) {
    width: 100%;
  }

  @media only screen and (max-width: $tablet) {
    padding: 0 $gapS $gapS;
  }
}

// BUTTONS
.buttonPrimary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $secondaryFont;
  background: $colorBlue;
  font-weight: 500;
  padding: 0 $gapS;
  height: 32px;
  border-radius: 2px;
  color: $colorWhite;
  transition: 0.2s;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background: #3461d4;
  }

  &.sizeXl {
    font-size: $size18;
    height: 40px;
  }
}

.buttonTransparent {
  @extend .buttonPrimary;
  
  background: $colorWhiteBlue;
  color: $colorBlack;
  text-decoration: underline;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.buttonWhite {
  @extend .buttonPrimary;
  
  background: $colorWhite;
  color: $colorBlack;
  font-weight: 400;

  &:hover {
    background: $colorWhite;
  }
}

.disable {
  cursor: not-allowed;
  opacity: 0.5;
}