@import "./functions.scss";

// COLORS
$colorBlack: #000000;
$colorWhiteBlue: #D2E7FF;
$colorBlue: #3E6FEF;
$colorWhite: #ffffff;
$colorRed: #FF4938;

// FONTS
$mainFont: "Inter"; 
$secondaryFont: "Work Sans";
$size13: 0.8125rem;
$size14: 0.875rem;
$size18: 1.125rem;
$size20: 1.25rem;
$size24: 1.5rem;

// PADDINGS GAPS
$gapXxs: pxToRem(8);
$gapMxs: pxToRem(10);
$gapXs: pxToRem(12);
$gapS: pxToRem(16);
$gapM: pxToRem(20);
$gapL: pxToRem(26);
$gapXL: pxToRem(32);

// BREAKPOINTS
$desktop: 1500px;
$laptop: 1200px;
$tablet: 900px;
$mobile: 600px;