// COLORS
$colorBlack: #000000;
$colorWhiteBlue: #D2E7FF;
$colorBlue: #3E6FEF;
$colorWhite: #ffffff;

// FONTS
$mainFont: "Inter";
$secondaryFont: "Work Sans";
$size18: 1.125rem;
$size13: 0.8125rem;

// BREAKPOINTS
$desktop: 1700px;
$laptop: 1300px;
$tablet: 1000px; 
$mobile: 600px;