@import "./common.scss";

.about {
  width: 100%;
}

// FIRST SCREEN
.aboutWrapper {
  padding-top: 140px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: $laptop){
    max-width: 90%;
  }

  @media only screen and (max-width: $tablet){
    max-width: calc(100% - $gapXL);
  }
}

.mainTitle {
  font-size: 4.3125rem;
  font-weight: 600;
  text-align: center;
  max-width: 760px;
  margin: 0 auto;

  @media only screen and (max-width: $laptop){
    font-size: 3.5rem;
  }

  @media only screen and (max-width: $tablet){
    font-size: 3rem;
  }
}

.titleTag {
  font-size: $size20;
  color: $colorBlue;
  width: 100px;
  margin: 0 auto 10px;
  text-align: center;

  @media only screen and (max-width: $tablet){
    font-size: $size18;
  }
}

.squaresGradient {
  display: block;
  width: 100px;
  margin: 40px auto 100px;

  @media only screen and (max-width: $tablet){
    width: 50px;
    margin: 32px auto;
  }
}

.textBlock {
  display: flex;
  justify-content: space-between;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;

  &.reverse {
    flex-direction: row-reverse;
  }

  @media only screen and (max-width: $laptop) {
    img {
      max-width: 250px;
    }
  }

  @media only screen and (max-width: $tablet){
    flex-wrap: wrap;
    margin-bottom: 0;

    img {
      max-width: 200px;
      margin: 80px auto;
    }
  }
}

.descriptionText {
  font-size: $size32;
  max-width: 545px;

  p {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: $laptop){
    font-size: $size24;
    max-width: 60%;
  }

  @media only screen and (max-width: $tablet){
    max-width: 100%;
    width: 100%;
  }
}

// CTA EXPLORE
.ctaExplore {
  background: rgba(0, 0, 0, 0.05);
  padding: 56px 0 84px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media only screen and (max-width: $tablet){
    padding: 20px 0 65px;
  }
}

.ctaExploreTitle {
  font-size: 3.25rem;
  font-weight: 600;
  position: relative;
  text-align: center;

  &:before {
    display: block;
    max-width: 143px;
    margin: 0 auto 30px;
    content: url("../public/svg/three-stars.svg");
  }

  @media only screen and (max-width: $laptop){
    font-size: 2.5rem;

    &::before {
      transform: scale(0.8);
      position: relative;
      top: 20px;
    }
  }

  @media only screen and (max-width: $tablet){
    font-size: 2.25rem;

    &::before {
      transform: scale(0.7);
      position: relative;
      top: 30px;
    }
  }
}

.buttonWrapper {
  margin-top: 24px;
  text-align: center;

  @media only screen and (max-width: $tablet){
    margin-top: 16px;
  }
}

.ctaButton {
  @extend .buttonPrimary;

  height: 64px;
  font-size: $size32;
  font-weight: 400;
  padding: 0 50px;
  border-radius: 50px;

  &::after {
    display: inline-flex;
    width: 39px;
    height: 39px;
    margin-left: 8px;
    content: url("../public/svg/cta-arrow.svg");
  }

  @media only screen and (max-width: $laptop){
    height: 55px;
    padding: 0 40px;
    font-size: $size24;
  }

  @media only screen and (max-width: $tablet){
    height: 41px;
    padding: 0 20px 0 $gapXL;
    font-size: $size20;

    &::after {
      transform: scale(0.7);
    }
  }
}

// HOW IT WORKS
.howItWorksWrapper {
  padding: 84px 0;

  @media only screen and (max-width: $laptop) {
    padding: 60px 0;
  }
}

.howItWorksContainer {
  border: 1px solid #000000;
  border-radius: 0px 24px 0px 0px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;

  @media only screen and (max-width: $laptop) {
    max-width: 90%;
  }

  @media only screen and (max-width: $tablet){
    max-width: calc(100% - $gapXL);
  }
}

.howItWorksHeader {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #000;

  @media only screen and (max-width: $tablet){
    height: 54px;
    padding: 0 $gapS;
  }
}

.howItWorksContent {
  padding: 60px 25px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  font-size: $size24;

  strong {
    font-style: italic;
  }

  @media only screen and (max-width: $laptop) {
    font-size: $size20;
    grid-template-columns: 1fr 1fr;
    column-gap: $gapXL;
    padding: 50px 25px;
  }

  @media only screen and (max-width: $tablet){
    font-size: $size18;
    display: block;
  }
}

.howItWorksTitle {
  font-size: $size20;

  @media only screen and (max-width: $tablet){
    font-size: $size18;
  }
}

.howItWorksStars {
  @media only screen and (max-width: $tablet){
    transform: scale(0.8);
    position: relative;
    right: -10px;
  }
}

.howItWorksItem {
  
  &.notAvailable {
    opacity: 0.4;
  }

  @media only screen and (max-width: $laptop){
    margin-bottom: $gapXL;
  }

  @media only screen and (max-width: $tablet){
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.howItWorksCounter {
  margin-bottom: 8px;
}

// VALUES
.valuesWrapper {
  background: rgba(0, 0, 0, 0.05);
}

.valuesTag {
  text-align: center;
  font-size: $size20;
  padding-top: 70px;
  margin-bottom: 84px;

  @media only screen and (max-width: $laptop){
    padding-top: 60px;
    margin-bottom: 55px;
  }

  @media only screen and (max-width: $tablet){
    padding-top: $gapXL;
    font-size: $size18;
    margin-bottom: 32px;
  }
}

.valuesContainer {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media only screen and (max-width: $laptop) {
    max-width: 90%;
  }

  @media only screen and (max-width: $tablet){
    max-width: calc(100% - $gapXL);
  }
}

.valuesItem {
  text-align: center;
  width: 450px;
  margin-bottom: 130px;

  @media only screen and (max-width: $laptop) {
    width: 45%;
    margin-bottom: 80px;
  }

  @media only screen and (max-width: $tablet){
    width: 100%;
    margin-bottom: 48px;
  }
}

.valuesTitle {
  font-weight: 600;
  font-size: $size32;
  margin-bottom: 8px;
  font-style: italic;

  @media only screen and (max-width: $laptop) {
    font-size: $size24;
  }
}

.valuesDescription {
  font-size: $size24;

  @media only screen and (max-width: $laptop) {
    font-size: $size20;
  }

  @media only screen and (max-width: $tablet){
    font-size: $size18;
  }
}

// CTA SUBMIT
.ctaSubmit {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 84px 0 148px;

  @media only screen and (max-width: $laptop){
    padding: 65px 0 120px;
  }

  @media only screen and (max-width: $tablet){
    padding: 20px 0 65px;
  }
}

.ctaSubmitTitle {
  font-size: 3.25rem;
  font-weight: 600;
  position: relative;
  text-align: center;

  &:before {
    display: block;
    max-width: 143px;
    text-align: center;
    margin: 0 auto 30px;
    content: url("../public/svg/two-stars.svg");
  }
  
  @media only screen and (max-width: $laptop){
    font-size: 2.5rem;

    &::before {
      transform: scale(0.8);
      position: relative;
      top: 20px;
    }
  }

  @media only screen and (max-width: $tablet){
    font-size: 2.25rem;

    &::before {
      transform: scale(0.7);
      position: relative;
      top: 30px;
    }
  }
}
