@import './common.scss';

.aboutContainer {
  width: 100%;
  max-width: 792px;
  padding: 0 16px;
  margin: 0 auto;
}

.aboutTitle {
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1;
  letter-spacing: -3px;

  @media only screen and (max-width: $tablet) {
    font-size: 2.5rem;
  }

  &.smaller {
    font-size: 2.5rem;
    text-align: left;
  }
}

.titleTag {
  font-size: 1.25rem;
  color: #1991ff;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Work Sans';

  @media only screen and (max-width: $tablet) {
    margin-top: 60px;
  }
}

.aboutText {
  font-size: 2rem;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 1.25rem;
  }
}

.aboutListItem {
  @extend .aboutText;

  margin-left: 35px;
}

.center {
  text-align: center;
}

.aboutWrapper {
  display: block;
  width: 100%;
}

// BUTOONS

.aboutButton {
  height: 52px;
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 20px;
  border-radius: 24px;
  cursor: pointer;

  &:after {
    display: inline-flex;
    position: relative;
    margin-left: 5px;
    top: 3px;
    left: 5px;
  }
}

.whiteButton {
  @extend .aboutButton;
  border: 1px solid rgba(39, 41, 55, 0.35);
  background: #fff;
}

.blueButton {
  @extend .aboutButton;
  background: #1991ff;
  color: #fff;
}

.learnMore {
  color: $colorBlack;

  &:after {
    content: url('../public/svg/about-arrow-down.svg');
  }
}

.whitepaper {
  margin-right: 28px;
  &:after {
    content: url('../public/svg/about-arrow-down-white-with-line.svg');
  }

  @media only screen and (max-width: $tablet) {
    margin: 0 10px 20px;
  }
}

.explore {
  color: $colorBlack;

  &:after {
    content: url('../public/svg/about-arrow-right-black.svg');
  }
}

.joinSlack {
  &:after {
    content: url('../public/svg/slack-white-icon.svg');
  }
}

.joinMailing {
  color: $colorBlack;

  &:after {
    content: url('../public/svg/mail-black-icon.svg');
  }
}

.submit {
  &:after {
    content: url('../public/svg/about-arrow-right-white.svg');
  }
}

// SITUATION

.situationWrapper {
  padding-top: 570px;
  margin-top: 70px;
  padding-bottom: 80px;
  background: url('../public/about-bg.png') no-repeat;
  background-position: center top;

  @media only screen and (max-width: $tablet) {
    padding-top: 190px;
    padding-bottom: 45px;
    background-size: cover;
  }
}

// VISION

.visionWrapper {
  background: rgba(39, 41, 55, 0.05);
  padding: 65px 0 45px;

  @media only screen and (max-width: $tablet) {
    padding: 30px 0;
  }
}

.visionButtonWrapper {
  text-align: center;
}

// HOW IT WORKS

.howItWorksWrapper {
  padding: 100px 0 80px;

  @media only screen and (max-width: $tablet) {
    padding: 45px 0;
  }
}

.videoFrame {
  display: flex;
  justify-content: center;
  margin-bottom: 144px;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 20px;
  }

  iframe {
    width: 635px;
    height: 354px;
    border-radius: 20px;

    @media only screen and (max-width: $tablet) {
      width: 100%;
      height: 200px;
    }
  }
}

.howItWorksButtonsWrapper {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;

  @media only screen and (max-width: $tablet) {
    justify-content: center;
  }
}

// COMMUNITY

.communityWrapper {
  background: rgba(39, 41, 55, 0.05);
  padding: 60px 0;

  @media only screen and (max-width: $tablet) {
    padding: 30px 0;
  }
}

.communityButtons {
  text-align: center;
}

.slackMembersWrapper {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slackMember {
  width: 32px;
  height: 32px;
  background: #b5b3b3;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: -10px;
}

.slackMemberCounter {
  @extend .slackMember;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $size14;
  font-weight: 600;
  color: #fff;
  border: none;
}

// TEAM

.teamWrapper {
  padding: 80px 0 70px;

  @media only screen and (max-width: $tablet) {
    padding: 45px 0 40px;
  }
}

.teamMembersWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 50px;

  @media only screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.teamMember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.teamMemberInfo {
  margin-left: 20px;
}

.teamMemberPhoto {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.teamMemberName {
  font-size: $size24;
  margin-bottom: 13px;
}

.teamMemberPosition {
  font-size: $size24;
  color: rgba(39, 41, 55, 0.75);
}

.teamVacanciesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.teamVacanciesTitle {
  font-size: 1.5rem;
}

.teamVacanciesList {
}

.teamVacanciesListWrapper {
  margin-left: 16px;
}

.teamVacanciesListItem {
  padding-left: 10px;

  &:before {
    content: '•';
    display: inline-flex;
    color: #272937bf;
    position: relative;
    top: -2px;
    left: -5px;
  }
}

.teamButtonWrapper {
  text-align: center;
  margin-bottom: 20px;
}

// NEWSLETTER

.newsletterWrapper {
  background: rgba(39, 41, 55, 0.05);
  padding: 70px 0 65px;

  @media only screen and (max-width: $tablet) {
    padding: 35px 0;
  }
}

.newsletterForm {
  max-width: 400px;
  width: 100%;
  margin: 0 auto 16px;
}

.newsletterInput {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border: 1px solid rgba(39, 41, 55, 0.12);
  background: #fff;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.newsletterNote {
  font-size: $size12;
  color: rgba(39, 41, 55, 0.35);
}

.checkboxLabel {
  text-align: center;
}

.inputRadio {
  height: 16px;
  width: 16px;
  position: relative;
  margin-right: 10px;
  top: 2px;
}

.inputLabel {
  font-size: $size14;
  margin-top: 16px;
  display: block;
}

.link {
  color: $colorBlack;
  text-decoration: underline;
}

// PARTICIPATE

.participateWrapper {
  padding: 80px 0 60px;

  @media only screen and (max-width: $tablet) {
    padding: 35px 0 0;
  }
}

.participateButtonWrapper {
  text-align: center;
}
