@import './common.scss';

.careerContainer {
  max-width: 664px;
  width: 100%;
  margin: 0 auto;
  padding: 90px $gapS 0;
  font-size: $size18;
  line-height: 1.15;

  @media (max-width: 767px) {
    padding: 60px $gapS 0;
  }

  .jobCard {
    background: $colorWhite;
    box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);
    border-radius: 16px;
    padding: $gapS;
    width: 100%;

    &:hover {
      box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.4);
      transition: box-shadow 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: $gapS;
    margin-top: 30px;
    text-align: center;
  }

  h2 {
    font-size: $size32;
    font-weight: 600;
    margin-bottom: $gapS;
  }

  h3 {
    font-size: $size18;
    font-weight: 300;
    margin-bottom: $gapS;
    text-decoration: underline;
  }

  p {
    margin-bottom: $gapS;
  }

  ul {
    padding-left: $gapS;
    list-style-type: disc;
    margin-bottom: $gapS;
    list-style-type: none;
  }

  li {
    margin-bottom: $gapS;
  }

  ol {
    margin-bottom: $gapS;
  }
}
