@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: conic-gradient(
    from 270deg at 50% 100%,
    #4d9fff 0deg,
    #d0fff1 101.49deg,
    #fffef2 180.94deg,
    #4d9fff 360deg
  );
}

a {
  color: inherit;
  color: #264f80;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
}

header .button {
  margin-left: auto;
}

.button button {
  font-family: Work Sans;
  font-size: 18px;
  line-height: 100%;
  background: rgba(77, 159, 255, 0.7);
  border: 0;
  padding: 11px 24px;
  font-weight: bold;
}

.break {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
