@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import "./reset.scss";
@import "./variables.scss";
@import "./common.scss";

html,
body {
  color: $colorBlack;
  background: $colorWhiteBlue;
  font-family: $mainFont, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
