@import "./common.scss";

.exploreTitleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: $gapS;
}

.exploreTitle {
  font-size: $size24;

  span {
    font-weight: 500;
  }
}

.exploreButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 50px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  &:before {
    position: relative;
    top: 2px;
    content: url('../public/svg/explore-arrow.svg');
  }
}

.articlesWrapper {
  width: 640px;
  padding-bottom: $gapXL;
}

.articlesList {
  columns: 2;
  column-gap: $gapS;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: $gapS;
}

.loadMoreButton {
  @extend .buttonPrimary;

  &:before {
    margin-right: 10px;
    position: relative;
    top: 2px;
    content: url("../public/svg/plus-white.svg");
  }
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}