.container {
  padding: 0 1rem;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background: white;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 174px;
}

.cardImage {
  margin-left: auto;
}

.cardImage img {
  width: 172px;
  display: block;
}

.cardText {
  margin: 0rem 0.5rem;
}

.cardText a {
  text-decoration: none;
}

.cardText svg {
  top: 0.125em;
  position: relative;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 3rem 0 0 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  margin-top: 0.5rem;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
}

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
} */

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .expand {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .break {
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.sparkable {
  width: 253px;
  height: 65px;
  left: 16px;
  top: 133px;
  /* font-family: 'Graphik'; */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-left: -100px;
  line-height: 120%;
  color: #000000;
  /* identical to box height, or 65px */
}

.sparkableText {
  width: 343px;
  height: 69px;
  left: 16px;
  top: 214px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.break {
  width: 343px;
  height: 0px;

  /* dark */

  border: 1px solid #000000;
}

.expand {
  width: 252px;
  height: 30px;
  /* font-family: 'Graphik'; */
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: #000000;
  display: block;
  margin-left: 80px;
  margin-bottom: -10px;
}

.expandText {
  width: 252px;
  height: 46px;

  /* font-family: 'Graphik'; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-left: 80px;
  /* margin-right: 40px; */
  margin-bottom: 40px;
}

.contact {
  /* width: 61px;
  height: 19px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  gap: 20px;
  margin-left: -160px;
}

.address {
  width: 343px;
  height: 42px;
  margin-top: 0px;
  /* font-family: 'Graphik'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.expandContainer {
  display: flex;
}

.svg {
  margin-right: -28px;
}

.svg1 {
  left: 60%;
  right: 20%;
  top: 87.5%;
  bottom: -7.5%;
  border-radius: 50%;
  margin-right: -25px;

  background: #000000;
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.svg2 {
  /* margin-right: 60px; */
  border-radius: 50%;
  left: 70%;
  right: -10%;
  top: 87.5%;
  bottom: -27.5%;
  box-sizing: border-box;
  border: 1px solid #000000;
  transform: matrix(0, -1, -1, 0, 0, 0);
  margin-right: -40px;
}

.svg3 {
  left: 80%;
  right: -40%;
  /* top: 87.5%; */
  margin-top: 50px;
  bottom: -47.5%;
  border-radius: 50%;
  border: 1px solid #000000;
  transform: matrix(0, -1, -1, 0, 0, 0);
  margin-right: -55px;
}

.svg4 {
  box-sizing: border-box;
  /* margin-right: -150px; */
  left: 87.5%;
  right: -62.5%;
  top: 87.5%;
  bottom: -62.5%;
  border-radius: 50%;
  border: 1px solid #000000;
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.svg5 {
  left: 32%;
  right: 51%;
  top: 48%;
  bottom: 35%;
  position: relative;
}

.svg6 {
  left: 232%;
  right: 51%;
  top: 38%;
  bottom: 75%;
  position: relative;
}

.svg7 {
  left: 82%;
  right: 51%;
  top: 38%;
  bottom: 115%;
  position: relative;
}

.svg8 {
  left: 350%;
  right: 51%;
  top: -10%;
  bottom: 155%;
  position: relative;
}

.svg9 {
  left: 400%;
  right: 51%;
  top: 0%;
  bottom: 0%;
  position: relative;
}

.svg10 {
  left: -44%;
  right: 51%;
  top: 40%;
  bottom: 0%;
  position: relative;
}

.svg11 {
  left: 0%;
  right: -62.5%;
  top: 65.7%;
  bottom: -62.5%;
  position: absolute;
}

.svg12 {
  left: 40%;
  right: 51%;
  top: 38%;
  bottom: 47%;
  position: relative;
}
