@import "./common.scss";

.contentWrapper {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.articlesWrapper {
  width: calc(100% - 290px);
  padding-bottom: $gapXL;

  @media only screen and (max-width: $tablet) {
    width: 100%;   
  }
}

.exploreTitleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: $gapS;

  @media only screen and (max-width: $tablet) {
    margin-top: 0;
  }
}

.exploreTitle {
  font-size: $size24;

  @media only screen and (max-width: $tablet) {
    font-size: $size20;
  }

  span {
    font-weight: 500;
  }
}

.exploreButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 50px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  &:before {
    position: relative;
    top: 2px;
    content: url('../public/svg/explore-arrow.svg');
  }

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.sortsWrapper {
  height: 37px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.totalCounter {
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: $size14;
}