@import "./common.scss";

// INDEX
.title {
  font-size: $size32;
  font-weight: 500;
  margin-bottom: $gapS;

  @media only screen and (max-width: $mobile) {
    font-size: $size24;
  }
}

.text {
  margin-bottom: $gapS;
}

.link {
   text-decoration: underline;
   color: $colorBlack;

   &:hover {
    text-decoration: none;
   }
}

.note {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: $gapS;
}

