@import "../../styles/variables";
@import "../../styles/common";


.sidebarWrapper {
  width: 260px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background: $colorWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: $gapM $gapXL;
  box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);
  border-radius: 0px 2px 2px 0px;
  line-height: 1;
}

.logo {
  position: relative;
  left: -16px;
}

.menuItem {
  margin-bottom: 24px;
  display: block;
  font-size: $size18;
  color: $colorBlack;
  padding: $gapXxs 0;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.sidebarFooterLink {
 display: block;
 padding: 4px 0;
 margin-bottom: 4px; 
 font-size: $size13;
 text-decoration: underline;
 color: $colorBlack;

 &:hover {
  text-decoration: none;
 }
}