@import "../../styles/variables";
@import "../../styles/common";

.articleItem {
  height: 312px;
  background: $colorWhite;
  box-shadow: 0px 2px 25px rgba(0, 48, 75, 0.2);
  border-radius: 2px;
  margin-bottom: $gapS;
  display: flex;
  flex-direction: column;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  @media only screen and (max-width: $mobile) {
    height: 175px;
    flex-direction: row-reverse;
  }
}

.articleCover {
  height: 175px;
  width: 100%;
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: $mobile) {
    width: 50%;
  }
}

.articleInfoWrapper {
  padding: $gapS;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  flex-grow: 1;

  @media only screen and (max-width: $mobile) {
    width: 50%;
  }
}

.articleLink {
  font-size: $size13;
  line-height: 1;
  margin-bottom: $gapXxs;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  color: $colorBlack;
  padding-right: $gapS;
  position: relative;

  &:after {
    position: absolute;
    right: 0;
    top: 1px;
    content: url("../../public/svg/link.svg");
  }

  &:hover {
    text-decoration: underline;
  }
}

.articleTitle {
  max-width: 100%;
  font-weight: 500;
  line-height: 1.2;
  height: 57px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}