{% extends "base.html" %}

{% block head_title %}Sparkable{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Sparkable" />
  <meta name="twitter:title" content="Sparkable" />

  <meta name="description" content="Social media designed to spark the best in people." />
  <meta name="og:description" content="Social media designed to spark the best in people." />
  <meta name="twitter:description" content="Social media designed to spark the best in people." />

  <meta property="og:url" content="{{ siteOrigin }}" />
  <meta name="twitter:url" content="{{ siteOrigin }}" />
  <link rel="canonical" href="{{ siteOrigin }}" />

  <meta property="og:image" content="{{ socialCard }}" />
  <meta property="twitter:image" content="{{ socialCard }}" />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
